<form [formGroup]="updateForm">
  <div class="checkbox-label-container">
    <div class="checkbox-input">
      <label class="containerb">
        <input
          type="checkbox"
          formControlName="globalUninsured"
          (change)="setPoliciesAsInactive()"
        />
        <span class="checkmark"></span>
      </label>
    </div>
    <label class="form-check-label" for="exampleCheck1"
      >Select if you no longer have any active insurance or are uninsured
    </label>
  </div>
  <section formArrayName="plans">
    <article
      class="policy-info"
      *ngFor="let plan of plans.controls; index as i"
      [formGroupName]="i"
    >
      <div class="remove-button-container" *ngIf="i > minDelete">
        <button
          class="remove-button"
          type="button"
          (click)="removeInsurance(i)"
        >
          Remove Policy
        </button>
      </div>
      <div class="checkbox-label-container">
        <div class="checkbox-input">
          <label class="containerb">
            <input
              id="isInactive{{ i }}"
              type="checkbox"
              formControlName="isInactive"
              (change)="setGlobalUninsured()"
            />
            <span class="checkmark"></span>
          </label>
        </div>
        <label class="form-check-label" for="isInactive{{ i }}"
          >Select if this insurance is no longer active
        </label>
      </div>
      <div class="checkbox-label-container">
        <div class="checkbox-input">
          <label class="containerb">
            <input
              id="isPrimary{{ i }}"
              type="checkbox"
              formControlName="isPrimary"
            />
            <span class="checkmark"></span>
          </label>
        </div>
        <label class="form-check-label" for="isPrimary{{ i }}"
          >Select if this insurance your primary insurance
        </label>
        <div class="checkbox-errors">
          <p
            class="checkbox-error"
            *ngIf="updateForm.hasError('multiplePrimary')"
          >
            Only one policy can be primary.
          </p>
          <p
            class="checkbox-error"
            *ngIf="updateForm.hasError('primaryRequired')"
          >
            A primary policy is required.
          </p>
        </div>
      </div>
      <div class="label-control-container">
        <div class="column-alignment">
          <label class="input-label" for="payer{{ i }}"> Payer: </label>
          <select class="input-control" formControlName="payer">
            <option>Select one</option>
            <option
              class="select-option"
              *ngFor="let name of payerNames"
              [value]="name"
            >
              {{ name }}
            </option>
          </select>
        </div>
        <div class="column-alignment error-container">
          <p
            class="error"
            *ngIf="
              plan.get('payer').hasError('required') &&
              plan.get('payer').touched
            "
          >
            Value is required.
          </p>
        </div>
      </div>
      <div class="label-control-container">
        <div class="column-alignment">
          <label class="input-label" for="policyId{{ i }}"> Policy ID: </label>
          <input
            class="input-control"
            id="policyId{{ i }}"
            type="text"
            formControlName="policyId"
            required
          />
        </div>
        <div class="column-alignment error-container">
          <p
            class="error"
            *ngIf="
              plan.get('policyId').hasError('required') &&
              plan.get('policyId').touched
            "
          >
            Value is required.
          </p>
        </div>
      </div>
      <div class="label-control-container">
        <div class="column-alignment">
          <label class="input-label" for="groupNo{{ i }}">
            Group Number:
          </label>
          <input
            class="input-control"
            id="groupNo{{ i }}"
            type="text"
            formControlName="groupNo"
            required
          />
        </div>
        <div class="column-alignment error-container">
          <p
            class="error"
            *ngIf="
              plan.get('groupNo').touched &&
              plan.get('groupNo').hasError('required')
            "
          >
            Value required.
          </p>
        </div>
      </div>
      <div class="label-control-container">
        <div class="column-alignment">
          <label class="input-label" for="pcn{{ i }}"> PCN: </label>
          <input
            class="input-control"
            id="pcn{{ i }}"
            type="text"
            formControlName="pcn"
            required
          />
        </div>
        <div class="column-alignment error-container">
          <p
            class="error"
            *ngIf="
              plan.get('pcn').touched && plan.get('pcn').hasError('required')
            "
          >
            Value is required.
          </p>
        </div>
      </div>
      <div class="label-control-container">
        <div class="column-alignment">
          <label class="input-label" for="bin{{ i }}"> BIN: </label>
          <input
            class="input-control"
            id="bin{{ i }}"
            type="text"
            formControlName="bin"
            required
          />
        </div>
        <div class="column-alignment error-container">
          <p
            class="error"
            *ngIf="
              plan.get('bin').touched && plan.get('bin').hasError('required')
            "
          >
            Value required.
          </p>
        </div>
      </div>
    </article>
    <article class="add-button-container">
      <button class="add-button" type="button" (click)="addInsurance()">
        Add Insurance &plus;
      </button>
    </article>
    <article class="action-button-container">
      <button class="cancel-button" type="button">Cancel</button>
      <button class="submit-button" type="button" (click)="updatePolicies()">
        Update
      </button>
    </article>
  </section>
</form>
