.policy-info {
  padding: 24px 18px 32px 16px;
  border: 2px solid black;
  border-radius: 8px;
  margin: 12px;
  width: 70%;
}

.add-button-container,
.action-button-container {
  margin: 12px;
  width: 100%;
}

button {
  border: none;
  padding: 10px 8px 12px 8px;
  border-radius: 8px;
  font-weight: bold;
}

.add-button {
  background-color: #c91a1b;
  color: white;
}

.add-button:hover {
  background-color: #1a242d;
}

.cancel-button {
  background-color: #fccc4e;
  color: #1a242d;
  margin: 0 24px 0 0;
  padding: 10px 24px 12px 24px;
}

.submit-button {
  background-color: #27a2aa;
  color: white;
  padding: 10px 24px 12px 24px;
}

.remove-button {
  float: right;
  color: #c91a1b;
  background-color: white;
}

.remove-button:hover {
  font-weight: 800;
  font-size: 12px;
  line-height: 18px;
  cursor: pointer;
}

.error {
  font-weight: 800;
  color: #c91a1b;
}

.label-control-container {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}

.column-alignment {
  display: flex;
  flex-flow: column nowrap;
  width: 50%;
}

.error-container {
  width: 30%;
  margin-left: 1rem;
}

.input-label {
  flex: 0 1 auto;
  margin: 0 0 0.5rem 0;
  font-variant: small-caps;
}

.input-control {
  flex: 0 1 auto;
  border: none;
  border-bottom: 2px solid #444;
  margin: 0 0 1.5rem 0;
}

.checkbox-label-container {
  display: grid;
  grid-template-columns: [checkboxStart] 5% [checkboxEnd labelStart] 50% [labelEnd errorStart] auto [errorEnd];
}

.checkbox-input {
  margin: 0.5rem 1rem 0.75rem 1rem;
  grid-column: checkboxStart / checkboxEnd;
}

.form-check-label {
  grid-column: labelStart / labelEnd;
  margin: 0.5rem 1rem 0.75rem 1rem;
}

.checkbox-errors {
  grid-column: errorStart / errorEnd;
}

.checkbox-error {
  margin: 0.5rem 1rem 0.75rem 1rem;
  color: #c91a1b;
}
